.home {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    min-height: 90vh;
    font-size: 1.3rem;
    h1 {
        font-size: 2rem;
    }
     section {
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         gap: 30px;
     }
     h3 {
         display: flex;
         align-items: center;
     }
     img {
        width: 30%;  
    }
     .user-img {
         width: 100%;
     }
   
 }