<section *ngIf=user class='home main-layout'>
    <!-- {{user$ | async | json}} -->
    <!-- {{user | json}} -->
    <section>
        <h1>Hello {{user.username}}!</h1>
        <!-- <img src='https://robohash.org/{{user.username}}?set=set3'/>  -->
        <img [src]="'https://robohash.org/' + user.username + '?set=set3'" class="user-img" />
        <h3><img src="./assets/img/coins.png"/> {{user.coins}}</h3>
        <h3> <img src="./assets/img/bitcoin.png"/>{{bitcoinRate}} </h3>  
    </section>
    <move-list [loggedinUser]="user" [contact]="null"></move-list>
</section>