<section *ngIf="contact" class="contact-details" >
    <h3 class="contact-name">{{contact.name}}</h3>
    <img [src]="'https://robohash.org/' + contact._id + '?set=set4'"/>
    <p>Phone: {{contact.phone}}</p>
    <p>Email: {{contact.email}}</p>
    <p>Coins: {{contact.coins}}</p>
    <transfer-fund [contact]="contact" (coinsTransfer)="coinsTransfer($event)"></transfer-fund>
    <move-list [contact]="contact" [loggedinUser]="loggedinUser"></move-list>
    <button routerLink="/contact">Go Back</button>

    <!-- <pre>{{loggedinUser | json}}</pre> -->
 
</section>
