.contact-filter {
    display: flex;
    justify-content: center;
    margin-block:30px ;
    input {
        padding: 10px 20px;
        border-radius: 5px;
        background-color: #335c67;
    }
}

$clr1 : #335c67;
$clr2 :#fff3b0;
$clr3 :#e09f3e;
$clr4 :#9e2a2b;
$clr5 :#540b0e;
$clr6 :#eae0d5;
$clr7 :#0a0908;