<section class="contact-edit main-layout" *ngIf="contact">

    <h1 *ngIf="!contact._id">Add Contact</h1>
    <h1 *ngIf="contact._id">Edit Contact</h1>
    <img *ngIf="contact._id" [src]="'https://robohash.org/' + contact._id + '?set=set4'"/>

    <form (ngSubmit)="onSaveContact()">
        <label for="name">Name</label>
        <input [(ngModel)]="contact.name" type="text" name="name" id="name" />
        <label for="phone">Email</label>
        <input [(ngModel)]="contact.email" type="text" name="email" id="email" />
        <label for="phone">Phone</label>
        <input [(ngModel)]="contact.phone" type="text" name="phone" id="phone" />
        <button>Save</button>
        <a routerLink="/contact">Go Back</a>
    </form>
</section>