.contact-preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: #afd6e0;
    padding: 20px 0px;
    box-shadow: 7px 8px 6px 1px #888;
    img {
        width: 40%;
    }
    .actions {
        opacity: 0;
        transition: 0.5s;
        img {
            width: 30px;
            height: 30px;
        }
    }
    &:hover .actions {
        opacity: 1;
    }
    &:hover  {
        box-shadow: inset 7px 8px 8px 2px #be8e8e;
    }
    &:hover .contact-img {
        transform: rotate(-5deg)
    }
}